.form__inner {
  text-align: left;
}

.freeform-row {}

.freeform-column {}

.freeform-label {
  font-weight: 200 !important;
  margin-bottom: 0.2rem;
}

input.freeform-input,
textarea.freeform-input {
  padding: .4rem .5rem;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
}

input.freeform-input:focus,
textarea.freeform-input:focus {
  border-color: #ee3938;
}

textarea.freeform-input {
  resize: vertical;
  min-height: 50px;
}

.freeform-column button {
  font-weight: 600;
  font-size: .85rem;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  padding: .75em 1.25em;
  border: 1px solid #ee3938;
  border-radius: 4px;
  color: #ee3938;
  text-decoration: none;
  transition: background-color .2s,border-color .2s,box-shadow .2s;
  background-color: transparent;
  cursor: pointer;
}

.freeform-column button:hover {
  background-color: #ee3938;
  color: #fff;
}

.header-logo {
  width: 118px;
  height: auto;
}

.header-logo-wrapper {
  height: 74px;
  padding: 14px 0;
}

@media (min-width: 768px) {
  .header-logo {
    width: 180px;
  }

  .header-logo-wrapper {
    height: 110px;
    padding: 20px 0 19px;
  }
}
